@import url("https://use.typekit.net/bam4lwa.css");


.AboutUsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Info-text-box h3 {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 5px;
  text-align: center;
}

.callToActionText h2 {
font-family: "ff-dagny-web-pro", sans-serif;
font-weight: bold;
font-size: 30px;
margin-bottom: 5px;
text-align: center;
}
.Info-text-box p {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  line-height: 1.8;
}

.Info-text-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  margin-top: 10rem;
  margin-bottom: 30px;
  margin-top: 90px;

}

.Info-text-box1 {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.Info-text-box2 {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.Info-text-box3 {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  align-items: center;
  margin-bottom: 20px;
}

.Info-image1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.Info-image2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

}

.Info-image3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

}


.Info-image1 img {
  width: 100px;
  height: auto;
}

.Info-image2 img {
  width: 100px;
  height: auto;

}

.Info-image3 img {
  width: 100px;
  height: auto;
}


.hero-about {
  width: 100%;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}


.hero-image-about {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  margin-bottom: 0px;
  height: 500px;

}

.hero-image-about img {
  height: auto;
  width: 100%;
  opacity: 0.6;
  z-index: 2;
}

.hero-text-about {
  position: absolute;
  /* padding-left: 96px; */
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "ff-dagny-web-pro", sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}


.hero-text-about h1 {
  font-family: "ff-dagny-web-pro", sans-serif;
  /* color: #8fbab5; */
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 5;
  padding-left: 80px;
  padding-right: 80px;
}




.hero-text-about p {
  font-family: "ff-dagny-web-pro", sans-serif;
  /* color: #8fbab5; */
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 6;

}


@media only screen and (max-width: 875px){
.hero-image .img {
  object-fit: contain;
}
.Info-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
}

.Info-text-box1 {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.Info-text-box2 {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.Info-text-box3 {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  margin-bottom: 20px;
}

}
